{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore",
	"insertPragma": false,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 3000,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"rangeStart": 0
}
